.movie-poster {
  position: relative;
  text-align: center;
}

.movie-poster:hover > svg {
  display: inline;
}

.movie-poster svg {
  background-color: grey;
  display: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 2rem;
  padding: 0.5rem;
}